[Unit]
Description=scrapy crawl first_huxiu and huxiu articles,save to mongodb and send obj to PIPE.

[Service]
WorkingDirectory=/NewsFMAPI/news_scrapy/newspider/
ExecStart=/usr/bin/python3 main.py  </dev/null 1>>/NewsFMAPI/scrapy.out 2>>/NewsFMAPI/scrapy.out`