[Unit]
Description=get obj from PIPE,and translate to voice by baidu api.

[Service]
WorkingDirectory=/NewsFMAPI/news/voice/
ExecStart=python /NewsFMAPI/news/voice/main.py