[Unit]
Description=get obj from PIPE,and translate to voice by baidu api.

[Service]
WorkingDirectory=/news/voice/
ExecStart=python /news/voice//main.py