[Unit]
Description=scrapy crawl first_huxiu and huxiu articles,save to mongodb and send obj to PIPE.

[Service]
WorkingDirectory=/NewsFMAPI/news_scrapy/newspider/
ExecStart=./run.sh